:root {
  /*--text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  */
  --accent: rgb(170, 59, 255);
  /*
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --teste: rgb(247, 229, 113);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  /*color-scheme: light dark;*/
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
*/

/*Resete de CSS*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
  background-color: var(--accent);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-nav {
  display: none;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
}

.nav-link.ativo {
  border-bottom: 3px solid #f9fafb;
}

.nav-link:hover {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid transparent;
}

.header-logo strong {
  font-size: 20px;
  letter-spacing: 0.5px;
}

main {
  min-height: 90dvh;
}

footer {
  padding: 10px;
  background-color: var(--accent);
  color: #f9fafb;
  text-align: center;
}


/*
section {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
*/



/*Estilos relacionados a página incio e seus componentes*/
.pagina-inicio {
  display: grid;
  align-items: center;
  margin: 30px 0 0;
}

.intro {
  margin-bottom: 10px;
}

.resumo{
  min-width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
}

.card-resumo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color:rgba(212, 212, 216, 0.3);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(117, 114, 114, 0.5);
}

.card-resumo:hover{
  background-color:rgba(212, 212, 216, 0.6);
  box-shadow: 0px 1px 7px rgb(117, 114, 114, 0.5);
  transition: 0.5s;
}

.card-resumo .fa-solid {
  padding: 5px;
  border-radius: 5px;
  width: auto;
}

.card-resumo span{
  font-size: 0.8rem;
}

.card-resumo h2 {
  font-size: 1.7rem;
}

.resumo a {
  display: block;
  background-color: rgba(170, 59, 255, 0.8);
  box-shadow: 0px 1px 3px rgb(117, 114, 114);
  width: 90%;
  margin-top: 20px;
}

.resumo a:hover {
  background-color: rgb(170, 59, 255);
  box-shadow: 0px 1px 7px rgb(136, 38, 210);
  transition: 0.5s;
}

.card-sugests {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(170, 59, 255, 0.8); 
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  box-shadow: 0px 1px 3px rgb(117, 114, 114);
  justify-self: center;
}

.card-sugests:hover {
 background-color: rgb(170, 59, 255);
 box-shadow: 0px 1px 7px rgb(136, 38, 210);
 transition: 0.5s;
}

.add-nova-transa {
  display: grid;
  justify-content: center;
  gap: 15px;
  margin: 1rem 0;
}

.add-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.btn-primario {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  width: 60%;
  justify-self: center;
}

.btn-entrada {
  background-color: rgba(37, 157, 37, 0.8);
  box-shadow: 0px 1px 2px rgb(117, 114, 114);
}

.btn-entrada:hover {
  background-color: rgb(37, 157, 37);
  box-shadow: 0px 1px 7px rgb(117, 114, 114);
  transition: 0.5s;
}

.btn-saida {
  background-color: rgba(213, 45, 45, 0.8);
  box-shadow: 0px 1px 2px rgb(117, 114, 114);
}

.btn-saida:hover {
  background-color: rgb(213, 45, 45);
  box-shadow: 0px 1px 7px rgb(117, 114, 114);
  transition: 0.5s;
}

.container-sug {
  margin-top: 20px;
}

.gastos-suggest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4 ,1fr);
  padding: 15px;
  gap: 10px;
}

.card-sugests {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(170, 59, 255, 0.8); 
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  box-shadow: 0px 1px 3px rgb(117, 114, 114);
  justify-self: center;
}

.card-sugests:hover {
 background-color: rgb(170, 59, 255);
 box-shadow: 0px 1px 7px rgb(136, 38, 210);
 transition: 0.5s;
}

.card-sugests:last-child{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 95%;
}




/*Estilos referentes a pagina gastos e seus componentes*/
.pagina-gastos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 4fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.container-movimento {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-self: center;
  gap: 15px;
  align-self: self-start;
}

.container-movimento .title{
  align-self: start;
  font-size: 1.2rem;
  font-weight: 500;
}

.movimento-lista{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 7px rgba(231, 223, 229, 0.8);
  justify-self: center;
}

.lista-header{
  background-color: rgba(170, 59, 255, 0.8);/*#d4d4d8 ;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  color:#f9fafb;
  padding: 10px;
}

.lista-header li{
  font-size: 1rem;
  font-weight: 500;
  gap:10px;
}

.link-detalhes {
  display: block;
  text-decoration: none;
  color: black;
  border-left: 1.2px solid #d4d4d8;
  border-right: 1.2px solid #d4d4d8;
  border-bottom: 1.2px solid #d4d4d8;
  font-size: 0.8rem;
} 

.link-detalhes:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.gasto-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 5px;
}

.gasto-card:hover {
  background-color: rgba(212, 212, 216, 0.5);
  transition: 0.5s;
}

/*Estilos da entrada da pagina de listagem*/
.entrada-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  border-left: 1.2px solid #d4d4d8;
  border-right: 1.2px solid #d4d4d8;
  border-bottom: 1.2px solid #d4d4d8;
  color: black;
  font-size: 0.8rem;
}

.entrada-card:hover {
  background-color: rgba(212, 212, 216, 0.5);
  transition: 0.5s;

}

.entrada-card:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;  
}

.entrada-header{
  background-color: rgba(170, 59, 255, 0.8);/*#d4d4d8 ;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  color:#f9fafb;
  padding: 10px;
}

.entrada-header li{
  font-size: 1rem;
  font-weight: 500;
  gap:10px;
}



/*Estilos relacionados a pagina formulario e seus componentes*/
.main-form{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0.9fr;
  padding: 25px 0;
}

.nova-transa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(163, 142, 164, 0.2);
  border-radius: 20px;
  background-color: rgba(231, 223, 229, 0.2);
  box-shadow: 0 1px 7px rgba(231, 223, 229, 0.8);
}

.transa-title {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgb(163, 142, 164, 0.2);
  padding: 15px;
}

.type-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(117, 114, 114, 0.7);
}

.type-form button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.7s;
}
/* Ficou feio, não ativem
button.button-entrada:hover {
  background-color: rgb(37, 157, 37) !important;
  color: white !important;
}

button.button-saida:hover {
  background-color: rgb(213, 45, 45) !important;
  color: white !important;
}
*/

.form-container {
  width: 90%;
  margin-bottom: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  width: 100%;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form label{
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border-radius: 20px;
  border: 1px solid #d4d4d8;
  font-size: 0.9rem;
  background-color: #ffffff;
  color: black;
}

.form button {
  margin-top: 8px;
  padding: 13px 16px;
  border-radius: 20px;
  border: none;
  background-color: #111827;
  color: #fbf9f9;
  cursor: pointer;
  font-size: 1.1rem;
  width: 50%;
  align-self: center;
  box-shadow: 0px 1px 5px rgb(117, 114, 114);
}

.form .btn-adicionar-entrada{
  background-color: rgba(37, 157, 37, 0.8);
}

.form .btn-adicionar-entrada:hover{
  background-color: rgb(37, 157, 37);
  box-shadow: 0px 1px 7px rgb(117, 114, 114);
  transition: 0.5s;
}

.form .btn-adicionar-saida{
  background-color: rgba(213, 45, 45, 0.8);
}

.form .btn-adicionar-saida:hover{
  background-color: rgb(213, 45, 45);
  box-shadow: 0px 1px 7px rgb(117, 114, 114);
  transition: 0.5s;
}





/*Estilos da pagina de Detalhes e seus componentes*/

.pagina-detalhes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalhe-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: rgba(212, 212, 216, 0.3);
  box-shadow: 0px 1px 3px rgba(117, 114, 114, 0.5);
  border-radius: 20px;
}

.detalhe-info li{
  list-style: none;
  color:#08060d;
}

.botoes-detalhe {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-voltar{
  background-color: rgba(170, 59, 255, 0.8);
  box-shadow: 0px 1px 3px rgb(117, 114, 114);
  border-radius: 20px;
  color: #08060d;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-voltar:hover {
  background-color: rgb(170, 59, 255);
  box-shadow: 0px 1px 7px rgb(117, 114, 114);
}

.btn-alterar {
  background-color: rgba(170, 59, 255, 0.8);
  box-shadow: 0px 1px 3px rgb(117, 114, 114);
  border-radius: 20px;
  color: #08060d;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-alterar:hover {
  background-color: rgb(170, 59, 255);
  box-shadow: 0px 1px 7px rgb(117, 114, 114);
}

.btn-remover{
  background-color: rgba(213, 45, 45, 0.8);
  box-shadow: 0px 1px 2px rgb(117, 114, 114);
  border-radius: 20px;
  color: #08060d;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-remover:hover {
  background-color: rgba(213, 45, 45);
  box-shadow: 0px 1px 5px rgb(117, 114, 114);
}


/**/

@media (min-width: 480px) {
  .main-form{
    
    grid-template-columns: 0.8fr;
  }
}

@media (min-width: 567px) {
  .main-form{
    
    grid-template-columns: 0.7fr;
  }
}

@media (min-width: 768px) {
  .main-form{ 
    grid-template-columns: 0.6fr;
  }

  .header-nav {
    display: flex;
  }

  .button-burger {
    display: none;
  }

  .pagina-inicio {
    width: 90%;
    justify-self: center;
  }

  .gastos-suggest{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .add-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px;  
    margin-top: 20px;
    width: 70%;
    justify-self: center;
  }

  .add-buttons .btn-primario{
    width: 80%;
  }

  .container-sug {
    margin-top: 30px;
  }

  .gastos-suggest {
    padding: 15px 30px;
  }

  .card-sugests:last-child {
    grid-column-start: 2;
    width: 90%;
  }

  .card-resumo{
    padding: 40px 20px;
  }
}

@media (min-width: 1000px) {
  .main-form{
    grid-template-columns: 0.4fr;
  }

  .resumo {
    grid-template-columns: repeat(3, 1fr);
  }

  .resumo a {
    grid-column-start: 2;
  } 

  .card-resumo{
    padding: 50px 20px;
  }
}

@media (min-width: 1200px) {
  .main-form{
    
    grid-template-columns: 0.3fr;
  }
}